@model IList<FoodTruckCerrado.Models.FotosEventos>

<section class="section-cardapio">
    <h2 class="text-center">Fotos Evento</h2>

    <div class="botao-add">
        @if (WebSecurity.IsAuthenticated && Roles.IsUserInRole(WebSecurity.CurrentUserName, "admin"))
        {
            @Html.ActionLink("Add Foto", "Form", new { idEvento = Model[0].EventoId}, new {@class="btn btn-primary" })
        }
    </div>
    <div class="box-fotos-pai">
        @foreach (var img in Model)
        {
            <div class="box-fotos">
                <img class="img-thumbnail" src="@img.Url" />
                @if (WebSecurity.IsAuthenticated && Roles.IsUserInRole(WebSecurity.CurrentUserName, "admin"))
                {
                      @Html.ActionLink("Deletar", "Deleta", new { id = @img.Id }, new { @Class = "btn - btn-danger" })
                }
            </div>
         }
     </div>
</section>